.portfolio {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 70px 0 70px 0;
  background: var(--fourth-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;
}

.menu-tab-container {
  align-self: center;
  border: 1px solid rgb(246, 250, 9);
  box-shadow: 0 0 10px rgb(255, 255, 0);
  border-radius: 50px;
  margin-bottom: 20px;
}
.menu-tab {
  margin: 10px 0 0 0;
}
.menu-tab .button {
  background-color: var(--third-background-color);
  border: none;
  font-size: 25px;
  padding: 0 10px;
  background: linear-gradient(
    to right,
    hsl(325, 86%, 49%) 20.69%,
    #d9fd0c 50.19%,
    #11ce40 79.69%
  );
  background-clip: text;
  padding-bottom: 10px;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.heading {
  background: linear-gradient(to right, pink, blue, green, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu-items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 40px;
  /* margin: 0 40px 15px 0; */
  margin-top: 25px;
}

.menu-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.card-image-wrapper {
  background: linear-gradient(to top, rgb(33, 243, 29), rgb(233, 58, 201));
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.card-image-wrapper:hover {
  transform: scale(1.01);
}

.menu-item .image {
  position: relative;
  border-radius: 10px;
  margin: 10px 10px;
}
.menu-item .image img {
  width: 100%;
  height: 100%;
}

.menu-item .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(50, 168, 15);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20%);
  transition: transform 2s;
}
.menu-item .content:hover {
  opacity: 1;
  transform: translateY(0);
}

.menu-item .content h2 {
  text-align: center;
  font-size: 35px;
  background: linear-gradient(
    to right,
    rgb(43, 43, 216),
    rgb(241, 20, 223),
    rgb(243, 243, 9)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-item .content h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px 0;
  letter-spacing: 2px;
  color: rgb(6, 8, 145);
  z-index: 999;
}
.menu-item .content p {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px 0;
  letter-spacing: 2px;
  color: rgb(6, 8, 145);
  opacity: 1;
}
.menu-item .image:hover ~ P {
  opacity: 1;
}

/* Media quries for mobile devices */
@media screen and (max-width: 480px) {
  .heading {
    font-size: 45px;
  }
  .menu-tab .button {
    background-color: var(--third-background-color);
    border: none;
    font-size: 15px;
    padding: 0 10px;
    background: linear-gradient(
      to right,
      hsl(325, 86%, 49%) 20.69%,
      #d9fd0c 50.19%,
      #11ce40 79.69%
    );
    background-clip: text;
    padding-bottom: 10px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }

  .menu-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    transition: 5s all;
  }
}
