.contact{
    padding: 100px 0;
    position: relative;
    background: url('/public/assets/artur-aldyrkhanov-u159a2eL6UE-unsplash.jpg') no-repeat center center;
    display: flex;
    flex-direction: row;
};
