.projects{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.projects .image{
   position: relative;
   
   
}
.projects .content{
   position: absolute;
   color: #fff;
   margin: 0 10px;
}
.projects .content h2{
    font-size: 30px;
    text-align: center;
}
.projects .content h3{
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}
.projects .content p{
    text-align: center;
    padding-top: 10px;
}



