@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Universal selector */
*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}


/* Psedueo root elements */

:root{
  --gradient-primary-color:#f31f42;
  --gradient-secondary-color:linear-gradient(to right,rgb(219, 12, 202),rgb(61, 117, 237));
  --font-primary: "Poppins",sans-serif;
  --primary-background-color:#030f2c;
  --secondary-background-color:#0e1527;
  --third-background-color:#091020;
  --fourth-background-color:#0e1525;
   --primary-white-color:#fff;
   --black-color:black;
   --transparent-color:transparent;
   --background-image-1:url("/public/assets/photo-1555066931-4365d14bab8c.avif");
   --hover-color:var(--gradient-primary-color);
}
.white-theme{
  --primary-background-color:#fff;
  --secondary-background-color:#fff;
   --primary-white-color:#000;
  --third-background-color:rgb(247, 242, 242);
  --fourth-background-color:#fff;
   --primary-white-color:#000;
   --black-color:#fff;
   --hover-color:aqua;
   --transparent-color:aqua;
   --background-image-1:url("/public/assets/software-development-6523979__340.webp");
   transition: all 1s;
}

/* unordered list */
ul{
  list-style: none;
}

/* Anchor text */

a{
  text-decoration: none;
}


