@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Universal selector */
*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Psedueo root elements */

:root{
  --gradient-primary-color:#f31f42;
  --gradient-secondary-color:linear-gradient(to right,rgb(219, 12, 202),rgb(61, 117, 237));
  --font-primary: "Poppins",sans-serif;
}

/* unordered list */
ul{
  list-style: none;
}

/* Anchor text */

a{
  text-decoration: none;
}


